// shared/components/layout/layout.component.scss
@use '../../../../styles/tokens' as tk;

.main-shell {
  display: grid;
  grid-template-areas: 'header' 'content';
  grid-template-rows: 60px 1fr;
  min-height: 100vh;

  @include tk.device('tablet') {
    grid-template-areas: 'sidebar header' 'sidebar content';
    grid-template-columns: 260px 1fr;
  }
}

.sidebar {
  grid-area: sidebar;
  background-color: map-get(tk.$colors, 'primary');
  color: white;
  display: none; // Escondido no mobile por padrão
  transition: width 0.3s ease;

  @include tk.device('tablet') {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  &.collapsed {
    width: 70px;

    .menu-link span,
    .arrow {
      display: none;
    }

    .submenu {
      display: none;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    color: red;

    .menu-item {
      display: flex;
      flex-direction: column;

      .menu-link {
        padding: 12px 16px;
        cursor: pointer;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }

      .submenu {
        list-style: none;
        padding-left: 16px;
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease;

        &.open {
          max-height: 500px; // animação simples
        }

        a {
          display: block;
          padding: 8px 16px;
          color: #cbd5f5;
          text-decoration: none;

          &.active {
            background: rgba(255, 255, 255, 0.2);
            color: white;
          }
        }
      }
    }
  }

  .navOld {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .dropdown {
      /* position: relative; */

      /*  &:hover .dropdown-menu {
        display: block;
      } */

      .nav-link {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:hover {
          background: rgba(255, 255, 255, 0.1);
          color: white;
        }

        .ul-menu {
          list-style: none;
          padding: 0;
          margin: 0;

          .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            padding: 0.5rem 0;
            min-width: 150px;

            a {
              display: block;
              padding: 0.5rem 1rem;
              color: rgba(255, 255, 255, 0.8);
              text-decoration: none;

              &:hover {
                background: rgba(255, 255, 255, 0.2);
                color: white;
              }
            }
          }
        }
      }
    }

    /* a {
      color: rgba(255, 255, 255, 0.8);
      padding: 0.75rem 1rem;
      text-decoration: none;
      border-radius: 4px;
      transition: all 0.2s;

      &.active {
        background: rgba(255, 255, 255, 0.1);
        color: white;
        font-weight: bold;
      }
    } */
  }
}

.header {
  grid-area: header;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  justify-content: space-between;
}

.content-area {
  grid-area: content;
  padding: 1.5rem;
  background-color: map-get(tk.$colors, 'background');
  overflow-y: auto;
}
